button {
	height: 51px;
	padding: 16px 18px 16px 18px;
	border-radius: 10px;
	background: #4a026b;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
}

button:hover,
button:active {
	background-color: #510674;
	border-color: #510674;
}
